In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227520 entries, 0 to 227519
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tarih              227520 non-null  object
 1   ürün               227520 non-null  object
 2   ürün besin değeri  227520 non-null  int64
 3   ürün kategorisi    227520 non-null  object
 4   ürün fiyatı        227520 non-null  float64
 5   ürün üretim yeri   227520 non-null  object
 6   market             227520 non-null  object
 7   şehir              227520 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 13.9+ MB

In [3]:
df.tarih=df.tarih.apply(pd.to_datetime)
df['ts'] = df[['tarih']].apply(lambda x: x[0].timestamp(), axis=1)
df.head()

,tarih,ürün,ürün besin değeri,ürün kategorisi,ürün fiyatı,ürün üretim yeri,market,şehir,ts
0,2016-01-01,kıyma,120,et,33.41,Yurt içi,M,A,1.451606e+09
1,2016-01-01,tavuk,103,et,11.22,Yurt içi,M,A,1.451606e+09
2,2016-01-01,hindi,160,et,11.12,Yurt içi,M,A,1.451606e+09
3,2016-01-01,Bakla-kuru,354,sebze ve bakliyat,7.02,Yurt içi,M,A,1.451606e+09
4,2016-01-01,Bakla-taze,72,sebze ve bakliyat,13.14,Yurt içi,M,A,1.451606e+09

In [4]:
df["yıl"]=df.tarih.dt.year
df["ay"]=df.tarih.dt.month
df=df.drop("tarih",axis=1)

In [5]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le=LabelEncoder()
df["ürün"]=le.fit_transform(df["ürün"])
df["ürün üretim yeri"]=le.fit_transform(df["ürün üretim yeri"])
df["market"]=le.fit_transform(df["market"])
df["şehir"]=le.fit_transform(df["şehir"])

In [6]:
df.describe()

,ürün,ürün besin değeri,ürün fiyatı,ürün üretim yeri,market,şehir,ts,yıl,ay
count,227520.000000,227520.000000,227520.000000,227520.000000,227520.000000,227520.000000,2.275200e+05,227520.000000,227520.00000
mean,39.000000,143.113924,16.348622,0.500000,1.000000,3.500000,1.529162e+09,2018.000000,6.50000
std,22.803559,133.218871,13.260935,0.500001,0.816498,2.291293,4.553789e+07,1.414217,3.45206
min,0.000000,8.000000,0.730000,0.000000,0.000000,0.000000,1.451606e+09,2016.000000,1.00000
25%,19.000000,41.000000,7.330000,0.000000,0.000000,1.750000,1.490335e+09,2017.000000,3.75000
50%,39.000000,83.000000,12.600000,0.500000,1.000000,3.500000,1.529107e+09,2018.000000,6.50000
75%,59.000000,250.000000,20.900000,1.000000,2.000000,5.250000,1.567944e+09,2019.000000,9.25000
max,78.000000,402.000000,141.330000,1.000000,2.000000,7.000000,1.606781e+09,2020.000000,12.00000

In [7]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing

In [8]:
x=df.loc[:,["ts","ürün","market","şehir","ürün üretim yeri"]]
y=df["ürün fiyatı"]
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=42)

In [9]:
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,BaggingRegressor,ExtraTreesRegressor,GradientBoostingRegressor,StackingRegressor,VotingRegressor
from sklearn.metrics import r2_score

In [10]:
rf = RandomForestRegressor(n_estimators=2000)
rf.fit(x_train,y_train)

RandomForestRegressor(n_estimators=2000)

from sklearn.linear_model import RidgeCV
from sklearn.svm import LinearSVR
estimators = [('lr', RidgeCV()),('svr', LinearSVR(random_state=42))]

ab=AdaBoostRegressor()
ab.fit(x_train, y_train)
br=BaggingRegressor()
br.fit(x_train, y_train)
etr=ExtraTreesRegressor()
etr.fit(x_train, y_train)
gbr=GradientBoostingRegressor()
gbr.fit(x_train, y_train)

sonuc=rf.predict(x_test)
sonuc1=ab.predict(x_test)
sonuc2=br.predict(x_test)
sonuc3=etr.predict(x_test)
sonuc4=gbr.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(sonuc, y_test)
mse = mean_squared_error(sonuc, y_test)
rmse = np.sqrt(mse)
print('Mean Absolute Error (MAE): %.2f' % mae)
print('Mean Squared Error (MSE): %.2f' % mse)
print('Root Mean Squared Error (RMSE): %.2f' % rmse)

In [11]:
sonuc=rf.predict(x_test)
r2 = r2_score(y_test, sonuc)
print(r2)

0.9935668396907201

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor()
abc=neigh.fit(x_train, y_train)

In [ ]:
import seaborn as sns
sns.lineplot(y=listee,x=range(1,100))

In [ ]:
max(listee)

In [ ]:
sonuc2=neigh.predict(x_test)

In [ ]:

from sklearn.metrics import r2_score
r2 = r2_score(y_test, sonuc2)
print(r2)

In [13]:
df_2=pd.read_csv("testFeatures.csv")
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45504 entries, 0 to 45503
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45504 non-null  int64
 1   tarih              45504 non-null  object
 2   ürün               45504 non-null  object
 3   ürün besin değeri  45504 non-null  int64
 4   ürün kategorisi    45504 non-null  object
 5   ürün üretim yeri   45504 non-null  object
 6   market             45504 non-null  object
 7   şehir              45504 non-null  object
dtypes: int64(2), object(6)
memory usage: 2.8+ MB

In [ ]:
# 
...
0.9933818570842421
0.9935555586055208
0.9935668396907201
...
#

In [15]:
df_2.tarih=df_2.tarih.apply(pd.to_datetime)

In [16]:
df_2['ts'] = df_2[['tarih']].apply(lambda x: x[0].timestamp(), axis=1)

In [ ]:
df_2.tarih=df_2.tarih.apply(pd.to_datetime)
df_2["yıl"]=df_2.tarih.dt.year
df_2["ay"]=df_2.tarih.dt.month
df_2=df_2.drop("tarih",axis=1)

In [17]:
df_2["ürün"]=le.fit_transform(df_2["ürün"])

df_2["ürün üretim yeri"]=le.fit_transform(df_2["ürün üretim yeri"])
df_2["market"]=le.fit_transform(df_2["market"])
df_2["şehir"]=le.fit_transform(df_2["şehir"])

In [18]:
x_test2=df_2.loc[:,["ts","ürün","market","şehir","ürün üretim yeri"]]

In [19]:
sonuc=rf.predict(x_test2)

In [20]:
sonuc_dp=pd.DataFrame(sonuc)

In [21]:
sonuc_dp=sonuc_dp.reset_index()

In [22]:
sonuc_dp=sonuc_dp.rename(columns={"index": "id",0:"ürün fiyatı"})

sonuc_dp

In [23]:
sonuc_dp.to_csv("sonuc.csv",index=False)